# Git global ignore file
# for local exclude patterns please edit .git/info/exclude
# Example file see https://github.com/TYPO3-Documentation/T3DocTeam/blob/master/.gitignore

# ignore generated documentation
*GENERATED*

# ignore typical clutter of IDEs and editors (this could be added in .git/info/exclude,
#  but we add it here for convenience)
*~
*.bak
*.project
*.swp
.project
.webprj
nbproject

# some additional exclusions
var/*
.ssh/authorized_keys
.ssh/id_rsa

#exclusion according to https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/Testing/ExtensionTesting.html
.Build/
.idea/
Build/testing-docker/.env

# OSX
.DS_Store

# Composer
vendor/
bin/
logs/
composer.lock

# Build stuff
.Build.sik
.ddev/**/*.example
.ddev/**/*.txt
.ddev/commands/
Documentation-*
node_modules/
var/

# Cache
*.cache
