parameters:
    level: 4
    paths:
        - Classes
        - Tests
    bootstrapFiles:
        - .build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php
    excludes_analyse:
        - 'Classes/Utility/LocalizationUtility.php'
        - 'Classes/Domain/Validator/StepconfValidator.php'
    ignoreErrors:
        -
            message: '#Offset ''@[a-z]*'' does not exist on string.#'
            path: Classes/Controller/TimezonesController.php
            count: 3
